@import "../../style/fn";

nav.navbar {
  background-color: #ccc;
}

.navbar-header {
  float: left;
  a {
    .link-unstyled;
    line-height: 50px;
  }
}

#navbar {
  float: left;
}

ul.nav {
  .list-inline;
  a {
    .link-unstyled;
    line-height: 50px;
  }
}
