@navbar-height: 80px;

nav.navbar {
  border-bottom: 1px solid #eee;

  .navbar-brand {
    font-size: 16px;
    line-height: @navbar-height;
  }

  .navbar-nav {
    border: 0;
    float: right;
    font-size: 14px;

    li {
      height: @navbar-height;
      line-height: @navbar-height;
      border-bottom-width: 3px;

      &.ant-menu-item-selected a {
        color: #2db7f5;
        font-weight: bold;
      }
    }
  }
}
